@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Delicious+Handrawn&family=Leckerli+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'DM Sans', sans-serif;
}
:root {
    --rosaescuro: #B9375D;
    --branco: #EEEEEE;
    --segundacor: #F5EFE6;
    --blue: #70bbd4;
    --preto: #000000;
}
.background-rosa {
    background: var(--rosaescuro);
}
.container {
    max-width: 1440px;
    margin: 0 5%;
    margin: 0 auto;
    
}

/* classe do site */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo  {
    font-family: 'Leckerli One', cursive;
    font-size: 40px;
    font-weight: bold;
    color: var(--branco);
}

ul {
    display: flex;
    align-items: center;

}
ul li{
    margin: 0 35px;
    font-size: 18px;
}
ul li a{
    color: var(--branco);
}
/*main */
main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.principal {
    width: 50%;
    color: var(--branco);
}
.principal h1 {
    font-size: 4.5rem;

}
.principal div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.main-img {
    width: 50%;
}
.main-img img {
    width: 100%;
}
.botao {
  width: 30%;
  background-color: #c75d7d; 
  color: #fff; 
  border: none; 
  padding: 10px 25px; 
  border-radius: 8px; 
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease; 
}
.botao img {
    width: 30%;
}
.botao:hover {
  background-color: #a02f50; 
}

/*menuicon*/
.menu-icon{
    display: none;
    position: relative;
    z-index: 10;
}

/*responsivo*/

@media (max-width: 960px) {
    .menu-icon{
        display: block;
    }
    .ul{
        position:fixed;
        background: var(--rosaescuro);
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.3s;
        flex-direction: column;
        justify-content: center;
    }
    .ul li{
        font-size: 20px ;
        margin: 20px 0;

    }
    .ul.ativo{
        left: 0;
    }
    main .container{
        flex-direction: column;
    }
    main .container .principal{
        width: 100%;
        text-align: center;
    }
    main .container .principal h1{
        font-size: 4rem;
    }
    main .container .principal div{
        justify-content: center;
    }
}