@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Delicious+Handrawn&family=Leckerli+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'DM Sans', sans-serif;
}
:root {
    --rosaescuro: #B9375D;
    --branco: white;
    --segundacor: #F7EEE4;
    --blue: #94CDE0;
    --preto: #000000;
    --cinza: #606061;
}
.background-rosa {
    background: var(--rosaescuro);
}
.container {
    max-width: 1440px;
    margin: 0 5%;
    margin: 0 auto;
    
}

section,
footer {
    padding: 2.7rem 0;
}
/* classe do site */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo  {
    font-family: 'Leckerli One', cursive;
    font-size: 40px;
    font-weight: bold;
    color: var(--branco);
}

ul {
    display: flex;
    align-items: center;

}
ul li{
    margin: 0 35px;
    font-size: 18px;
}
ul li a{
    color: var(--branco);
}
/*main */
main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.principal {
    width: 50%;
    color: var(--branco);
}
.principal h1 {
    font-size: 4.5rem;

}
.principal div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.main-img {
    width: 50%;
}
.main-img img {
    width: 100%;
}
.botao {
  width: 30%;
  background-color: #c75d7d; 
  color: #fff; 
  border: none; 
  padding: 10px 25px; 
  border-radius: 8px; 
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease; 
}
.botao img {
    width: 30%;
}
.botao:hover {
  background-color: #a02f50; 
}

/*menuicon*/
.menu-icon{
    display: none;
    position: relative;
    z-index: 10;
}
.resultados{
    background-color: var(--segundacor);

}
.resultados .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.resultados .resultados-texto{
    color: var(--rosaescuro);
    font-size: 1.6rem;
    font-weight: 600;
    width: 50%;
}
.resultados .resultados-numero{
    display: flex;
    align-items: center;
    color: var(--rosaescuro);
}
.resultados .resultados-numero p{
    text-align: center;
    margin: 0 25px;
    font-size: 20px;
}
.resultados .resultados-numero p span{
    font-size: 30px;
    font-weight: 600;
}
/*responsivo*/
/*diferenciais*/
.diferenciais .container{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
.diferenciais .card{
    width: 30%;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    background-color: var(--segundacor);
    transition: 0.3s;
}
.diferenciais .card:hover{
    box-shadow: 0px 10px 67px 8px #bcbab7;
}
.diferenciais .card img{
    width: 55px;
}
.diferenciais .card .titulo{
    margin: 3px 0;
    font-weight: 600;
}
/*secao dog e pessoa*/
.casa .container{
    display: flex;
    align-items: center;
}
.casa .container .casa-img{
    width: 50%;
}
.casa .casa-img img{
    width: 100%;
    border-radius: 10px;
}
.casa .casa-texto{
    width: 50%;
    padding-left: 90px;
}
.casa .cata-texto h2{
    font-size: 2.5rem;
}
.casa .casa-texto p{
    margin: 20px 0;
    color: black;
}
.melhores-tutores .container{
    margin: 0 20px 0;
}
.melhores-tutores .azul{
    font-size: 24px;
    font-weight: 600;
    color: var(--blue);
}
.melhores-tutores h2{
    font-size: 2.5rem;
}
.melhores-tutores .cards{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.melhores-tutores .cards .card-item{
    width: 30%;
    text-align: center;
    padding: 30px 0;
    border-radius: 20px;
    box-shadow: 0px 35px 97px -15px rgba(0, 0, 0, 0.08);
}
.melhores-tutores .cards img{
    width: 80px;
}
.melhores-tutores .cards .local-casa{
    margin: 5px 0;
    color: var(--cinza);
}
.melhores-tutores .cards .nome-casa{
    font-size: 30px;
    font-weight: 500;

}
.melhores-tutores .cards .contato{
    margin-bottom: 20px;
    color: var(--cinza);
}
.melhores-tutores .cards button{
    padding: 10px 20px;
    color: white;
    background-color: var(--rosaescuro);
    border: none;
}
.melhores-tutores .cards .nome-pessoa{
    font-size: 30px;
}
.newslatter{
    background-color: var(--rosaescuro);
    margin-top: 50px;
}
.newslatter .box-newslatter{
    text-align: center;
    background-image: url('../img/dog_pata.jpg');
    padding: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.newslatter .box-newslatter h2{
    font-size: 2.5rem;
}
.newslatter .box-newslatter p{
    margin-top: 13px 0;
}
.newslatter .box-newslatter input{
    width: 35;
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    color: var(--cinza);   
}
.newslatter .box-newslatter button{
    font-size: 15px;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 14px;
    color: white;
    background-color: var(--rosaescuro);
    cursor: pointer;
}
@media (max-width: 960px) {
    .menu-icon{
        display: block;
        margin: 12px 14px 12px 12px;
    }
    .ul{
        position:fixed;
        background: var(--rosaescuro);
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.3s;
        flex-direction: column;
        justify-content: center;
    }
    .ul li{
        font-size: 20px ;
        margin: 20px 0;

    }
    .ul.ativo{
        left: 0;
    }
    main .container{
        flex-direction: column;
    }
    main .container .principal{
        width: 100%;
        text-align: center;
    }
    main .container .principal h1{
        font-size: 4rem;
    }
    main .container .principal div{
        justify-content: center;
    }
    .resultados .container{
        flex-direction: column;
    }
    .resultados .resultados-texto,
    .resultados .resultados-numero{
        width: 100%;
        text-align: center;
    }
    .resultados-numero{
        margin-top: 30px;
    }
    .referencias .container{
        flex-direction: column;
    }
    .referencias .container .card{
        width: 100%;
        margin-bottom: 30px;
    }
    .diferenciais .container{
        flex-direction: column;
    }
    .diferenciais .card{
        width: 100%;
        margin-bottom: 30px;
    }
    .casa .container{
        flex-direction: column-reverse;
    }
    .casa .casa-texto,
    .casa .casa-img{
        width: 100%;
        text-align: center;
        padding: 0%;
    }
    .melhores-tutores .cards{
        flex-direction: column;

    }
    .melhores-tutores .card .card-item{
        width: 100%;
        margin-top: 50px;
        position: center;

    }
    .newslatter .box-newslatter {
        padding: 50px;
    }
    .newslatter .box-newslatter h2{
        font-size: 2rem;
    }
    .newslatter .box-newslatter input{
        width: 90%;
    }
    .newslatter .box-newslatter button{
        width: 50%;
        margin-top: 20px;
    }

}
@media (max-width: 440px) {
    .resultados .resultados-numero {
        flex-direction: column;
    }

    main .container .principal h1 {
        font-size: 3rem;
    }
}


